{% extends "base.html" %}

{% block content %}
<div id="app">
  
  <div v-show="processing_ajax" class="centred-box" style="text-align: center;">
    <h3>[[ ajax_processing_message ]]</h3>
    <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  </div>
  
  <form v-show="!processing_ajax && show_login_window" class="centred-box" action="{{ url_for('site.sign_in') }}" method="POST">
      {{ form.hidden_tag() }}
      <h1>
        admin login page
      </h1>
      <p>once you sign in, your token will be stored</p>
      <div class="reg-grid">
          <div class="form-group reg-grid-element">
              <label>e-mail</label>
              {{ form.email(ref="admin_email", class="form-control", placeholder="remember your e-mail?") }}
              {% if form.email.errors %}
                  <ul>{% for error in form.email.errors %} <li>{{ error }}}</li> {% endfor %}</ul>
              {% endif %}
          </div>
          <div class="form-group reg-grid-element">
              <label>password</label>
              {{ form.password(ref="admin_password", class="form-control", placeholder="don't forget the password") }}
              {% if form.password.errors %}
                  <ul>{% for error in form.password.errors %} <li>{{ error }}}</li> {% endfor %}</ul>
              {% endif %}
          </div>
      </div>
      <div class="form-group">
              <button class="btn btn-success" @click.prevent="getFormData()">sign in!!</button>
              <button type="button" class="btn btn-danger" onclick="location.href='{{ url_for('site.sign_in') }}';">Oups, I'm not admin</button>
          </div>
          
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
              {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">        
                      {{ message }}
                  </div>
              {% endfor %}
              
          {% endif %}
          {% endwith %}
          <transition name="fade">
          <div v-if="server_message" class="alert alert-danger" role="alert">
              [[ server_message ]]
            </div>
          </transition>
  </form>

<div class="popup-window" v-if="show_login_window"></div>
<h1 style="text-align: center;">admin page</h1>
  <div class="card text-center">
      <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link" v-on:click="getDays();" href="#">days</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-on:click="getRegistrations();" href="#">registrations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-on:click="getProfilechanges();" href="#" tabindex="-1" aria-disabled="true">profile changes</a>
          </li>
        </ul>
      </div>
      <div class="card-body">
        
          <!--
              Here is the table
          -->
            



  <table v-if="!show_getAPIInfo_error_message && !processing_link_request" class="table">
      <thead class="thead-dark">
        <tr>
          <th v-for="parameter in link_data.parameters" scope="col">[[ parameter ]]</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="iterable in link_data.iterable">
          <td v-for="i in iterable" scope="row">[[ i ]]</td>
          <td class="btn-group">
                  <button class="btn btn-outline-success">accept</button>
                  <button class="btn btn-outline-danger">reject</button>
          </td>
        </tr>
        
        
      </tbody>
    </table>
    <p v-if="show_getAPIInfo_error_message" stype="text-align: center;"> [[ getAPIInfo_error_message ]] </p>
    <div v-if="processing_link_request">
      <h2>Waiting for server response...</h2>
      <div class="spinner-grow" role="status">
        <span class="sr-only">Waiting...</span>
      </div>
    </div>
      </div>
    </div>
</div>
  <script type="module" src="../static/js/admin.js"></script>
  
{% endblock %}