{% extends "base.html" %}
{% block title %}
    registration
{% endblock %}

{% block content %}
<div class="centred-box">
<h1>Oups...</h1>
<h2>Seems like you're not signed in.</h2>
<h2>You can't use this service if you are not signed in.</h2>
<h2>Choose any of these options:</h2>
<button class="btn btn-primary" onclick="location.href='{{ url_for('site.sign_in') }}'">sign in</button>
<button class="btn btn-primary" onclick="location.href='{{ url_for('site.registration') }}'">registration</button>
</div>
{% endblock %}