{% extends "base.html" %}
{% block title %}
    registration
{% endblock %}

{% block content %}
<form class="centred-box" action="{{ url_for('site.registration') }}" method="POST">
    <div class="reg-grid">
            <div class="form-group reg-grid-element">
                    <label>name</label>
                    {{ form.name(class="form-control", placeholder="what's your name?") }}
                </div>
                <div class="form-group reg-grid-element">
                    <label>surname</label>
                    {{ form.surname(class="form-control", placeholder="what about your surname?") }}
                </div>
                <div class="form-group reg-grid-element">
                    <label>e-mail</label>
                    {{ form.email(class="form-control", placeholder="your e-mail here") }}
                </div>
                <div class="form-group reg-grid-element">
                    <label>password</label>
                    {{ form.password(class="form-control", placeholder="your super safe password") }}
                </div>
                <div class="form-group reg-grid-element">
                        <label>confirm password</label>
                        {{ form.confirm_password(class="form-control", placeholder="repeat your awesome password!") }}
                    </div>
                <div class="form-group reg-grid-element">
                    <label>room index</label>
                    {{ form.room(class="form-control", placeholder="your room number") }}
                </div>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-success">create an account!</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('site.sign_in') }}';">sign in</button>
        </div>
    
</form>
{% endblock %}