* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(253, 253, 253);
}

.flash-messages {
    margin-top: 2em;
    margin-bottom: 2em;
    display: block;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'PT Mono', monospace;
    font-size: 0.8em;
    padding: 0.2em;
    width: 30%;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: #5886ca;
    background-color: #cdd4f0;
    color: #5886ca;

}

.form-error {
    font-family: 'PT Mono', monospace;
    font-size: 1em;
    color: #df3939;
    text-align: left;
}

.warning {
    border-color: #8d1616;
    background-color: #dd7676;
    color: #8d1616;
}

input {
    display: inline-flex;
}

.login-box {
    display: block;
    padding: 1em;
    margin: auto;
    margin-top: 10%;
    
    width: 30%;

    border-style: solid;
    background-color: white;
    border-color: white;
    
    -webkit-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 24px -7px rgba(0,0,0,0.75);
}

.input-group {
    display: grid;
    grid-template-columns: 16em 16em;
}

.btn-group {
    display: grid;
    grid-template-columns: 12em 12em 12em;
}

.input-box {
    margin: 1em;
}

.name {
    display: inline-block;
}

h1 {
    margin-left: 2%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #5886ca;
    font-size: 1.5em;
}

h2 {
    margin-left: 2%;
    font-family: 'Noto Sans JP', sans-serif;
    color: #5886ca;
    font-size: 1em;
}

.btn {
    background-color: white;
    text-decoration: none;
    display: inline-block;
    width: 10em;
    height: 2em;
    border-style: solid;
    border-color: #5886ca;
    border-radius: 0.5em;
    border-width: 0.05em;
    margin: 1em;
    text-decoration: none;
    font-style: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1em;
    color: #5886ca;
    text-align: center;
    transition-duration: 0.2s;
}

.btn:hover {
    background-color: #5886ca;
    color: white;
}

.submit {
    border-color: #4db144;
    color: #4db144;
}

.submit:hover {
    background-color: #3baf31;
    color: white;
}