{% extends "base.html" %}
{% block title %}
    forgot password
{% endblock %}

{% block content %}
<form class="centred-box" action="{{ url_for('registration') }}" method="POST">
    <div class="reg-grid">
        <div class="form-group reg-grid-element">
            <label>e-mail</label>
            {{ form.email(class="form-control", placeholder="your e-mail here") }}
        </div>
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-success">send new password</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('registration') }}';">registration</button>
            <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('sign_in') }}';">sign in</button>
        </div>
    
</form>
{% endblock %}