{% extends "base.html" %}
{% block title %}
    main
{% endblock %}


{% block sidebar %}
<ul class="nav nav-pills navigation-bar flex-column">
    <li>
        <h3>name surname</h3>
        <h4>room</h4>
    </li>
    <li class="nav-item">
        <a class="nav-link navigation-btn" href="#">change password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link navigation-btn" href="#">edit profile</a>
    </li>
    <li class="nav-item">
            <a class="nav-link navigation-btn btn-danger" href="#">log out</a>
        </li>
</ul>
{% endblock %}

{% block content %}
<div class="main-content">
    <button class="btn btn-primary btn-lg btn-block">previous month</button>
    <div class="weekdays">
        <h1>mon.</h1>
        <h1>tue.</h1>
        <h1>wed.</h1>
        <h1>thu.</h1>
        <h1>fri.</h1>
        <h1>sat.</h1>
        <h1>sun.</h1>
    </div>
    <div class="calendar">


        <div class="card text-white bg-dark mb-3">
                <div class="card-header">-</div>
                <div class="card-body card-info">
                </div>
            </div>

        <div class="card text-white bg-dark mb-3">
                <div class="card-header">-</div>
                <div class="card-body card-info">
                </div>
            </div>

        <div class="card text-white bg-dark mb-3">
                <div class="card-header">-</div>
                <div class="card-body card-info">
                </div>
            </div>

        <div class="card text-white bg-info mb-3">
                <div class="card-header">1</div>
                <div class="card-body card-info">
                    <h4>today, get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">2</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

    
        <div class="card text-white bg-warning mb-3">
                <div class="card-header">3</div>
                <div class="card-body card-info">
                    <h4>requested, waiting for response...</h4>
                    <button class="btn btn-danger btn-sm">cancel request</button>
                </div>
            </div>

        <div class="card text-white bg-danger mb-3">
                <div class="card-header">4</div>
                <div class="card-body card-info">
                    <h4> request rejected </h4>
                </div>
            </div>

        <div class="card text-white bg-success mb-3">
                <div class="card-header">5</div>
                <div class="card-body card-info">
                    <h4> the day is yours! </h4>
                </div>
            </div>

        <div class="card text-white bg-primary mb-3">
                <div class="card-header">6</div>
                <div class="card-body card-info">
                    <h4> room 8797 has taken the key </h4>
                </div>
            </div>
    
        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">7</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">8</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">9</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">10</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">11</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">12</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>


        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">13</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

        <div class="card text-white bg-secondary mb-3">
                <div class="card-header">14</div>
                <div class="card-body card-info">
                    <h4>get in the line!</h4>
                    <button class="btn btn-primary btn-sm">get in line</button>
                </div>
            </div>

    </div>
    <button class="btn btn-primary btn-lg btn-block">next month</button>
</div>
{% endblock %}