<html>
    <head>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
        <title>index page</title>
    </head>
    <body>
        <div class="ui">
            <div class="user-info">
                <h1 class="user-name">Name Surname</h1>
                <h2 class="room">room 999</h2>
                <div></div>
                <a class="user-button" href="#">log out</a>
                <a class="user-button" href="#">change password</a>
                <a class="user-button" href="#">edit profile</a>
            </div>
            <div class="calendar">
                    <a class="month-button" href="#">previous month...</a>
                    <div class="week-days">
                            <h2 class="week-day">Mon.</h2>
                            <h2 class="week-day">Tue.</h2>
                            <h2 class="week-day">Wed.</h2>
                            <h2 class="week-day">Thu.</h2>
                            <h2 class="week-day">Fri.</h2>
                            <h2 class="week-day">Sat.</h2>
                            <h2 class="week-day">Sun.</h2>
                    </div>
                    <div class="month">
                        <div class="day day-empty"></div>
                        <div class="day day-passed"><h1 class="day-article">1</h1></div>
                        <div class="day day-passed"><h1 class="day-article">2</h1></div>
                        <div class="day day-passed"><h1 class="day-article">3</h1></div>
                        <div class="day day-current"><h1 class="day-article">4</h1></div>
                        <div class="day day-future"><h1 class="day-article">5</h1></div>
                        <div class="day day-future"><h1 class="day-article">6</h1></div>
                        <div class="day day-future"><h1 class="day-article">7</h1></div>
                    </div>
                    <a class="month-button" href="#">next month...</a>
            </div>    
        </div>
    </body>
</html>