<html>
    <head>
        <title>sorry...</title>
        <link rel="stylesheet" href="../static/css/sorry_style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="message">
            <h1>sorry...</h1>
            <h2>Looks like you are not signed in.</h2>
            <h2>Please, go to our registration or sign in page</h2>
            <h2>and finish your authorization process.</h2>
            <button type="button" class="btn">registration</button>
            <button type="button" class="btn">sign in</button>
        </div>
    </body>
</html>