{% block head %}
    <title>sign in</title>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/login_style.css">
{% endblock %}
{% block content %}
    <form class="login-box">
            <h1>sign in</h1>
            <div class="input-group">
                <div class="input-box">
                        <h2>e-mail</h2>
                        {{ form.email }}
                    </div>
                    <div class="input-box">
                        <h2>password</h2>
                        {{ form.password }}
                    </div>
            </div>
            <div class="btn-group">
                <button type="submit" class="btn submit">go to main page</button>
                <button type="button" class="btn">forgot password</button>
                <button type="button" onclick="location.href='{{ url_for('registration') }}';" class="btn">I have no account</button>
            </div>
        </form>
{% endblock %}